extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p This is part of the full stack javascript course (seciton 6 if you really want to know) where I put together a portfolio of my work on github and present it using Pug templates and the Express framework.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project, i in projects
        .cell
          a(href='project/'+i)
            img.thumbnail(src='/images/p'+i+'_1.png', alt='preview image for '+project.project_name)
            h5= project.project_name

